     <!-- Start Header -->
     <%- include("../partials/Header.ejs") %> 
     <!-- End Header -->

    <!-- Start Navbar -->
    <%- include("../partials/Navbar.ejs") %> 
    <!-- Start Navbar -->

     <div class="Profile Timeline">
         <div class="container">
             <div class="Header">
                 <img src="/public/Uploads/Users/<%=DataUser.Picture %>" alt="">
                 <h3><%= DataUser.Username %></h3>
             </div>
             <div class="Content">
                <div class="Posts">

                    <%
                        Posts.forEach(Item => {
                            %>
                                <div class="Item">
                                    <div class="Header">
                                        <div>
                                            <img src="/public/Uploads/Users/<%= DataUser.Picture%>" alt="">
                                            <div>
                                                <h4><%=DataUser.Username %></h4>
                                                <h5>
                                                    <%
                                                        var Date = Item.createdAt;
                                                        var Year = Date.getFullYear();
                                                        var Month = Date.getMonth() + 1;
                                                        var Day = Date.getDate();
                                                        var Hours = Date.getHours();
                                                        var Minutes = Date.getMinutes();
                                                        var State = Hours>=12?"PM":"AM";
    
                                                        
    
                                                        if(Hours>=12)
                                                        {
                                                            Hours-=12;
                                                            if(!Hours)Hours = 12;
                                                        }
                                                        if(Month<10)Month = "0" + Month;
                                                        if(Day<10)Day = "0" + Day;
                                                        if(Hours<10)Hours = "0" + Hours;
                                                        if(Minutes<10)Minutes = "0" + Minutes;
                                                    %>
                                                    <%= Day + "-" + Month + "-" + Year + " -- " + Hours + ":" + Minutes + " " + State %>
                                                </h5>    
                                            </div>
                                        </div>
                                        <%
                                            if(User && (User.IsAdmin || User._id == Item.UserId))
                                            {
                                                %>
                                                <div>
                                                    <a href="/Timeline/Update/<%=Item._id%>/<%=Item.UserId%>" class="fas fa-edit" style="color:#24a0ed"></a>
                                                    <a href="/Timeline/Delete/<%=Item._id%>/<%=Item.UserId%>"><i class="fas fa-trash" style="color:red"></i></a>
                                                </div>
                                                <%
                                            }
                                            
                                            
                                        %>
                                    </div>
                                    <div class="Content">
                                        <p><%=Item.Description%></p>
                                        <img src="/public/Uploads/Posts/<%= Item.Image%>" alt="">
                                    </div>
                                </div>
                            <%
                        })
    
                    %>
    
                   
                </div>
             </div>
         </div>
     </div>


    <%- include("../partials/Footer.ejs") %> 